project_id = "znxiydmycxcjkflihfxn"

[functions.send-coparent-invite]
verify_jwt = true

[functions.create-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true

[functions.admin-manage-users]
verify_jwt = true

[functions.send-notification]
verify_jwt = true
